#section-top {

    & > .span_12 {
        @media(min-width: 1100px) and (max-width: 1440px) {
            /**
            according to design
             */
            width: 85vw;
        }

        @media (max-width: 480px) {
            padding-bottom: 35vw;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            padding-bottom: 35vw;
        }

        @media (min-width: 768px) and (max-width: 1999px) {
            padding-bottom: 16vw;
        }

        @media(min-width: 1441px) {
            padding-top: 2vw;
        }

        @media(min-width: 2000px) {
            padding-bottom: 15vw;
        }

        @media(min-width: 2500px) {
            padding-bottom: 13vw;
        }

        @media(min-width: 2800px) {
            padding-bottom: 10vw;
        }
    }

    .row-bg-wrap {
        .row-bg {
            background-position: right bottom;
            @media(max-width: 320px) {
                opacity: 0.4;
            }

            @media(max-width: 480px) {
                background-position: right -15vw bottom 0 !important;
                background-size: 115vw !important;
            }

            @media(min-width: 321px) and (max-width: 767px) {
                background-size: 110vw;
            }

            @media (min-width: 768px) and (max-width: 999px) {
                background-size: 95vw;
            }

            @media (min-width: 1000px) and (max-width: 1440px) {
                background-size: 95vw;
            }

            @media(min-width: 1441px) {
                background-size: 92vw;
                background-position: right 50%;
            }

            @media(min-width: 2000px) {
                background-size: 80vw;
            }

            @media(min-width: 2500px) {
                background-size: 65vw;
            }

            @media(min-width: 2800px) {
                background-size: 56vw;
            }
        }
    }
}