// Fonts
@mixin font($color, $font-weight, $font-size, $line-height, $font-family, $text-transform: null, $text-decoration: null) {
    @if $color {
        color: $color;
    }

    @if $font-weight {
        font-weight: $font-weight;
    }

    @if $font-size {
        font-size: $font-size;
    }

    @if $line-height {
        line-height: $line-height;
    }

    font-family: $font-family;

    @if $text-transform {
        text-transform: $text-transform;
    }

    @if $text-decoration {
        text-decoration: $text-decoration;
    }
}

@mixin font-avenir($color, $font-weight: 400, $font-size: 16px, $line-height: 24px, $text-transform: null, $text-decoration: null) {
    @include font($color, $font-weight, $font-size, $line-height, $font-avenir, $text-transform, $text-decoration);
}

@mixin font-avenir-theme($font-weight: 400, $font-size: 16px, $line-height: 24px, $text-transform: null, $text-decoration: null) {
    @include font-avenir($color-theme, $font-weight, $font-size, $line-height, $text-transform, $text-decoration);
}

@mixin font-avenir-white($font-weight: 400, $font-size: 16px, $line-height: 24px, $text-transform: null, $text-decoration: null) {
    @include font-avenir(#fff, $font-weight, $font-size, $line-height, $text-transform, $text-decoration);
}

@mixin font-avenir-black($font-weight: 400, $font-size: 16px, $line-height: 24px, $text-transform: null, $text-decoration: null) {
    @include font-avenir(#000, $font-weight, $font-size, $line-height, $text-transform, $text-decoration);
}

@mixin font-avenir-big-stone($font-weight: 400, $font-size: 16px, $line-height: 24px, $text-transform: null, $text-decoration: null) {
    @include font-avenir($color-big-stone, $font-weight, $font-size, $line-height, $text-transform, $text-decoration);
}

@mixin font-avenir-matisse($font-weight: 400, $font-size: 16px, $line-height: 24px, $text-transform: null, $text-decoration: null) {
    @include font-avenir($color-matisse, $font-weight, $font-size, $line-height, $text-transform, $text-decoration);
}

@mixin font-avenir-atoll($font-weight: 400, $font-size: 16px, $line-height: 24px, $text-transform: null, $text-decoration: null) {
    @include font-avenir($color-atoll, $font-weight, $font-size, $line-height, $text-transform, $text-decoration);
}

// Container
@mixin container {
    width: calc(100% - 180px);
    max-width: 2600px;
    margin: 0 auto;
}

@mixin container-fluid {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

@mixin shadow {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
}

@mixin site-bg {
    .container.main-content:before {
        @include background-image(59px, center, image_path('bg.png'), (
                background-repeat: repeat
        ));

        left: 50%;
        top: 0;
        display: block;
        bottom: 0;
        content: '';
        right: 0;
        height: 100%;
        position: absolute;
        z-index: 0;
        margin-left: -50vw;
        width: 100vw;
        opacity: .4;
    }
}