.sar-btn {
    @include button;

    &-filled {
        @include button-filled;
    }
}

.sar-btn {

    &-link {
        @include button-link;
        padding: 8px 20px;
        text-transform: capitalize;

        &.active,
        &:hover {
            background-color: #F4F5F5;
            font-weight: bold;
            color: $color-atoll;
        }
    }

    &-grey {
        @include button-grey;
    }

    &-matisse {
        @include button-matisse;

        &-filled {
            @include button-matisse-filled;
        }
    }
}
