// Path
$fonts-path: '../../fonts/';
$icons-path: '../../icons/';
$images-path: '../../images/';

// Colors
$color-big-stone: #1a3340;
$color-matisse: #1c7396;
$color-atoll: #0d5c7d;
$color-pumice: #c1c5c3;
$color-theme: #f15924;