@font-face {
  font-family: FontAwesome;
  src: url("../../fonts/fa-solid-900.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: FontAwesome;
  src: url("../../fonts/fontawesome.woff2") format("woff2"), url("../../fonts/fontawesome.woff") format("woff"), url("../../fonts/fontawesome.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  font-weight: 400;
  font-display: swap;
  src: local("Avenir-Book"), url("../../fonts/Avenir/Avenir-Book.woff2"), url("../../fonts/Avenir/Avenir-Book.woff"), url("../../fonts/Avenir/Avenir-Book.ttf");
}

@font-face {
  font-family: Avenir;
  font-weight: 600;
  font-display: swap;
  src: local("Avenir-Heavy"), url("../../fonts/Avenir/Avenir-Heavy.woff2"), url("../../fonts/Avenir/Avenir-Heavy.woff"), url("../../fonts/Avenir/Avenir-Heavy.ttf");
}

.container.main-content:before {
  background-repeat: repeat;
  background-position: center;
  background-size: 59px;
  background-image: url("../../images/bg.png");
  left: 50%;
  top: 0;
  display: block;
  bottom: 0;
  content: '';
  right: 0;
  height: 100%;
  position: absolute;
  z-index: 0;
  margin-left: -50vw;
  width: 100vw;
  opacity: .4;
}

.container.main-content > .row > div {
  position: relative;
  z-index: 2;
}

.sar-btn {
  cursor: pointer;
  border: 1px solid #f15924;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #f15924;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn:hover {
  color: #fff;
  border-color: #f15924;
  background-color: #f15924;
}

.sar-btn:active,
.sar-btn.active {
  color: #fff;
  border-color: #f15924;
  background-color: #f15924;
}

.sar-btn[disabled],
.sar-btn:disabled,
.sar-btn.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn[disabled]:hover,
.sar-btn:disabled:hover,
.sar-btn.disabled:hover {
  color: #f15924;
  background-color: #fff;
}

.sar-btn-filled {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #f15924;
  border-radius: 50px;
  background-color: #f15924;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn-filled:hover {
  border-color: #d4410e;
  background-color: #d4410e;
}

.sar-btn-filled:active,
.sar-btn-filled.active {
  border-color: #d4410e;
  background-color: #d4410e;
}

.sar-btn-filled[disabled],
.sar-btn-filled:disabled,
.sar-btn-filled.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-filled[disabled]:hover,
.sar-btn-filled:disabled:hover,
.sar-btn-filled.disabled:hover {
  background-color: #f15924;
}

.sar-btn-link {
  cursor: pointer;
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  color: #0d5c7d;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  padding: 8px 20px;
  text-transform: capitalize;
}

.sar-btn-link[disabled],
.sar-btn-link:disabled,
.sar-btn-link.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-link.active,
.sar-btn-link:hover {
  background-color: #F4F5F5;
  font-weight: bold;
  color: #0d5c7d;
}

.sar-btn-grey {
  cursor: pointer;
  border: 1px solid #c1c5c3;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #1a3340;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn-grey:hover {
  color: #fff;
  border-color: #f15924;
  background-color: #f15924;
}

.sar-btn-grey:active,
.sar-btn-grey.active {
  color: #fff;
  border-color: #f15924;
  background-color: #f15924;
}

.sar-btn-grey[disabled],
.sar-btn-grey:disabled,
.sar-btn-grey.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-grey[disabled]:hover,
.sar-btn-grey:disabled:hover,
.sar-btn-grey.disabled:hover {
  color: #1a3340;
  background-color: #fff;
}

.sar-btn-matisse {
  cursor: pointer;
  border: 1px solid #1c7396;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #1c7396;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 900;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn-matisse:hover {
  color: #fff;
  border-color: #1c7396;
  background-color: #1c7396;
}

.sar-btn-matisse:active,
.sar-btn-matisse.active {
  color: #fff;
  border-color: #1c7396;
  background-color: #1c7396;
}

.sar-btn-matisse[disabled],
.sar-btn-matisse:disabled,
.sar-btn-matisse.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-matisse[disabled]:hover,
.sar-btn-matisse:disabled:hover,
.sar-btn-matisse.disabled:hover {
  color: #1c7396;
  background-color: #fff;
}

.sar-btn-matisse-filled {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #1c7396;
  border-radius: 50px;
  background-color: #1c7396;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 900;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn-matisse-filled:hover {
  border-color: #14526b;
  background-color: #14526b;
}

.sar-btn-matisse-filled:active,
.sar-btn-matisse-filled.active {
  border-color: #14526b;
  background-color: #14526b;
}

.sar-btn-matisse-filled[disabled],
.sar-btn-matisse-filled:disabled,
.sar-btn-matisse-filled.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-matisse-filled[disabled]:hover,
.sar-btn-matisse-filled:disabled:hover,
.sar-btn-matisse-filled.disabled:hover {
  background-color: #1c7396;
}

/**
These styles are used on both pages
(Projects and Resources)

1. .posts-filter
2. .posts-container
3. .pagination

*/

.posts-filter {
  padding-top: 40px;
  background-color: #fff;
  border-bottom: 1px solid #f15924;
}

.posts-filter .main-filter,
.posts-filter .sub-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.posts-filter .main-filter li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
  margin-right: 10px;
}

.posts-filter .main-filter li:last-child,
.posts-filter .main-filter li:nth-last-child(2) {
  margin-right: 0;
}

.posts-filter .main-filter li:last-child {
  margin-left: 10px;
}

.posts-filter .main-filter li .toggle-list {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 40px;
  background-color: #fff;
  border: 1px solid #0d5c7d;
  border-radius: 25px;
  text-align: center;
  padding: 10px 15px;
  color: #0d5c7d;
}

.posts-filter .main-filter li .toggle-list svg {
  margin-right: 6px;
}

.posts-filter .main-filter li .toggle-list:not(.active) svg path {
  fill: #0d5c7d;
}

.posts-filter .main-filter li .toggle-list.active {
  background-color: #0d5c7d;
  color: #fff;
}

.posts-filter .main-filter li .toggle-list.active svg path {
  fill: #fff;
}

.posts-filter .main-filter li .toggle-list:hover {
  background-color: #0d5c7d;
  color: #fff;
}

.posts-filter .main-filter li .toggle-list:hover svg path {
  fill: #fff;
}

.posts-filter .main-filter li:first-child {
  min-width: 130px;
}

.posts-filter .main-filter li:not(.projects-filter-switcher) {
  min-width: 100px;
}

.posts-filter .sub-filter {
  margin-bottom: 20px;
}

.posts-filter .sub-filter li button {
  color: #0d5c7d;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Avenir", sans-serif;
}

.posts-filter .toggle-list {
  cursor: pointer;
  white-space: nowrap;
}

.posts-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2% 0;
}

.pagination {
  text-align: center;
  padding-bottom: 2%;
}

.pagination button {
  max-width: 225px;
  font-size: 18px;
  font-weight: 700;
}

/**
Page header.
Top part of Resources and Projects pages
 */

#page-header-wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../images/top-section-bg__resources-projects.webp");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 25vw;
  min-height: 250px;
  max-height: 350px;
}

#page-header-wrap:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: .75;
  background: -o-linear-gradient(313.38deg, #F05A24 0%, #F26930 24.21%, #F4793A 45.04%, #F68945 62.75%, #F8994F 77.63%, #FBAB5A 89.95%, #FFBE66 100%);
  background: linear-gradient(136.62deg, #F05A24 0%, #F26930 24.21%, #F4793A 45.04%, #F68945 62.75%, #F8994F 77.63%, #FBAB5A 89.95%, #FFBE66 100%);
}

#page-header-wrap .col.span_12 {
  position: relative;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

#page-header-wrap .col.span_12 h1 {
  color: #fff;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  font-family: "Avenir", sans-serif;
}

#page-header-wrap .col.span_12 p {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-family: "Avenir", sans-serif;
}

.owl-carousel.off {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  height: inherit;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.owl-carousel.off .carousel-item {
  margin: 0 auto;
}

.owl-carousel .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.owl-carousel .carousel-item .img-block {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 80px;
  width: 80%;
  margin: auto;
  max-width: 220px;
}

body.home #section-2-carousels .partners-testimonials {
  padding-bottom: calc(3% + 40px);
}

body.home #section-2-carousels .partners-list > .vc_column-inner .wpb_wrapper {
  padding-bottom: calc(2vw + 40px);
}

#section-2-carousels > .col.span_12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  max-width: none;
}

#section-2-carousels .partners-testimonials {
  background: -o-linear-gradient(46.31deg, #e43e00 0, #f68d1e 100%) no-repeat;
  background: linear-gradient(43.69deg, #e43e00 0, #f68d1e 100%) no-repeat;
  background-size: cover;
  padding: 3%;
  margin-left: 0;
}

#section-2-carousels .partners-testimonials .image-icon {
  color: #fff;
  font-family: Georgia, serif;
  font-size: 50px;
  text-align: center;
  display: block;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  line-height: 70px;
  background-size: cover;
  border: 1px solid #fff;
  margin: 0 auto 33px;
}

#section-2-carousels .partners-testimonials .testimonial {
  color: #fff;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  font-family: "Avenir", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

#section-2-carousels .partners-testimonials .author {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: "Avenir", sans-serif;
  text-align: center;
}

#section-2-carousels .partners-testimonials .owl-dots {
  text-align: center;
  margin-top: 30px;
}

#section-2-carousels .partners-testimonials .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 10px;
}

#section-2-carousels .partners-testimonials .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

#section-2-carousels .partners-testimonials .owl-dots .owl-dot.active {
  background-color: #fff;
}

#section-2-carousels .partners-testimonials .owl-dots .owl-dot:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#section-2-carousels .partners-list {
  background-image: url("../../images/dark-bg.png");
  background-size: 100px;
  background-repeat: repeat;
  margin-left: 0;
}

#section-2-carousels .partners-list > .vc_column-inner {
  height: 100%;
}

#section-2-carousels .partners-list > .vc_column-inner .wpb_wrapper {
  padding: 2vw 3vw;
  height: 100%;
  width: 100%;
}

#section-2-carousels .partners-list .owl-carousel .img-block {
  max-width: unset;
  height: 65px;
  width: 100%;
  min-height: unset;
  background-size: auto;
}

#section-2-carousels .partners-list .owl-carousel .kaiserpermanente .img-block,
#section-2-carousels .partners-list .owl-carousel .cheesefactory .img-block,
#section-2-carousels .partners-list .owl-carousel .as_seen_on_tv .img-block {
  background-size: contain;
}

#section-2-carousels .partners-list .owl-dots {
  display: none;
}

.contact-form {
  background-color: #fff;
  padding: 6%;
}

.contact-form .wpcf7 {
  background-color: #fff;
}

.contact-form .wpcf7 .screen-reader-response,
.contact-form .wpcf7 .wpcf7-response-output,
.contact-form .wpcf7 .wpcf7-not-valid-tip {
  display: none !important;
}

.contact-form .wpcf7 .wpcf7-form-control-wrap.message {
  line-height: 0;
}

.contact-form .wpcf7 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-form .wpcf7 label {
  color: #1a3340;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  border-width: 0;
  margin-bottom: 16px;
}

.contact-form .wpcf7 textarea,
.contact-form .wpcf7 input {
  width: 100%;
  background-color: #F4F5F5;
  border: none;
  border-bottom: 2px solid #C4CAC7;
  margin: 16px 0;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  font-family: "Avenir", sans-serif;
  padding: 0 4px;
}

.contact-form .wpcf7 textarea::-webkit-input-placeholder,
.contact-form .wpcf7 input::-webkit-input-placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea::-moz-placeholder,
.contact-form .wpcf7 input::-moz-placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea:-ms-input-placeholder,
.contact-form .wpcf7 input:-ms-input-placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea::-ms-input-placeholder,
.contact-form .wpcf7 input::-ms-input-placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea::placeholder,
.contact-form .wpcf7 input::placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea:focus,
.contact-form .wpcf7 input:focus {
  outline: none;
  border-bottom-color: #000;
}

.contact-form .wpcf7 input {
  height: 50px;
  width: 100%;
}

.contact-form .wpcf7 input.wpcf7-not-valid {
  border: 2px solid red;
}

.contact-form .wpcf7 input.wpcf7-not-valid::-webkit-input-placeholder {
  color: darkGray;
}

.contact-form .wpcf7 input.wpcf7-not-valid::-moz-placeholder {
  color: darkGray;
}

.contact-form .wpcf7 input.wpcf7-not-valid:-ms-input-placeholder {
  color: darkGray;
}

.contact-form .wpcf7 input.wpcf7-not-valid::-ms-input-placeholder {
  color: darkGray;
}

.contact-form .wpcf7 input.wpcf7-not-valid::placeholder {
  color: darkGray;
}

.contact-form .wpcf7 button {
  width: 100%;
  background-color: #f15924;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-family: "Avenir", sans-serif;
  border: none;
  height: 70px;
  border-radius: 35px;
  margin-top: 16px;
}

.sar-popup-overlay {
  position: fixed;
  background-color: rgba(79, 79, 79, 0.8);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sar-popup-overlay.active {
  overflow-y: scroll;
  visibility: visible;
  pointer-events: all;
  top: 0;
  z-index: 999;
}

.sar-popup-form {
  margin-top: 51px;
}

.form-header {
  background-image: url("../../images/popup-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.form-header .btn-close {
  position: absolute;
  font-size: 30px;
  color: #fff;
  top: 20px;
  right: 20px;
}

.form-header h1 {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  font-family: "Avenir", sans-serif;
  text-align: center;
}

.form-header p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Avenir", sans-serif;
  padding-bottom: 0;
  text-align: center;
}

.form-footer {
  padding: 4% 8%;
  background-color: #2E2E2E;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-footer h3 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
}

.form-footer .textwidget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-footer .locations ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 0;
  margin-left: 0;
}

.form-footer .locations ul li {
  color: #fff;
  letter-spacing: 0;
  margin-right: 24px;
  list-style: disc inside;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Avenir", sans-serif;
}

.form-footer .locations ul li:last-child {
  margin-right: 0;
}

.form-footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.form-footer .contact-us a {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Avenir", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px !important;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 15px;
  margin-top: 4px;
  margin-bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  min-height: 40px;
}

.iwithtext {
  display: grid;
  grid-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.iwithtext .iwt-icon {
  grid-area: icon;
}

.iwithtext .iwt-text {
  grid-area: text;
  text-decoration: none;
  color: #1a3340;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-family: "Avenir", sans-serif;
}

.iwithtext .iwt-text a {
  color: inherit;
  position: absolute;
  width: 100%;
  inset: 0;
  padding-left: calc(2% + 60px);
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.iwithtext .iwt-text a:hover {
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.iwithtext.icon-pos-top {
  grid-template-rows: fit-content(100%) auto;
  grid-template-areas: 'icon' 'text';
  justify-items: center;
}

.iwithtext.icon-pos-top h3,
.iwithtext.icon-pos-top p {
  text-align: center;
}

.iwithtext.icon-pos-left {
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-areas: 'icon text';
}

.iwithtext.icon-pos-bottom {
  grid-template-rows: auto fit-content(100%);
  grid-template-areas: 'text' 'icon';
  justify-items: center;
}

.iwithtext.icon-pos-bottom h3,
.iwithtext.icon-pos-bottom p {
  text-align: center;
}

.iwithtext.icon-pos-right {
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-areas: 'text icon';
}

#services-bottom-section > .col.span_12 {
  width: 100%;
}

#services-bottom-section .video-box-and-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6 {
  margin-left: 0;
  width: 45%;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6.video-box-column .nectar-video-box .inner-wrap .img-bg {
  background-position: 100%;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 4vw;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 3vw;
  border-radius: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column > .vc_column-inner {
  width: 100%;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column .wpb_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2vw;
}

#services-bottom-section .video-box {
  border-radius: 15px;
}

#services-bottom-section .video-box .play-button p {
  font-size: 36px;
}

#services-bottom-section .ready-to-start {
  background-image: url("../../images/about-saritasa.webp");
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  padding-top: 15vw;
  padding-bottom: 5vw;
}

/**
The current file is imported to the following files:
1) nectar-video-box
2) nectar-video-box__technologies
 */

.popup_youtube {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: rgba(79, 79, 79, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup_youtube .content {
  width: 90%;
  max-width: 1200px;
  position: relative;
}

.popup_youtube .content .iframe-wrapper {
  height: 0;
  padding-top: 56.25%;
}

.popup_youtube .content .iframe-wrapper iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-box {
  background-image: url("../../images/videobox-bg-full-mirrored.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-box .play-button {
  display: grid;
  grid-template-areas: 'a h3' 'a p';
  grid-column-gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 150px;
  padding: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 80%;
}

.video-box .play-button a {
  grid-area: a;
  display: block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../images/play.svg");
}

.video-box .play-button a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.video-box .play-button h3 {
  grid-area: h3;
  align-self: flex-end;
  text-align: left;
  color: #f15924;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  font-family: "Avenir", sans-serif;
}

.video-box .play-button p {
  grid-area: p;
  align-self: flex-start;
}

.video-box .play-button p {
  color: #f15924;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  font-family: "Avenir", sans-serif;
}

.ready-to-start {
  margin-top: -12vw;
}

.ready-to-start > .col.span_12 {
  width: 90%;
}

.ready-to-start .row-bg {
  background-image: url("../../images/about-saritasa.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.ready-to-start h2 {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  font-family: "Avenir", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.ready-to-start .vc_btn3-container {
  text-align: center;
}

.ready-to-start .vc_btn3-container button {
  color: #0d5c7d;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-family: "Avenir", sans-serif;
  border-radius: 100px;
  background-color: #fff;
  padding: 10px 60px !important;
  cursor: pointer;
  border: 1px solid #fff;
}

.posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.posts-container .col.span_3 {
  width: calc(100% / 4 - 20px);
  margin: 0 10px 20px;
  padding: 5px;
}

.posts-container .col.span_3 .work-item {
  margin-bottom: 0 !important;
}

.posts-container .col.span_3 .work-item::before {
  content: '';
  padding-top: 100%;
}

.posts-container .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

.posts-container .work-item > a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 11;
}

.posts-container .work-item .bg {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.posts-container .work-item h4 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
}

.posts-container .work-item .work-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(28, 115, 150, 0.7);
  padding: 0 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 10px;
}

.posts-container .work-item .work-info .work-category-icon {
  width: 40px !important;
  height: 40px !important;
  margin-bottom: 10px !important;
}

.posts-container .work-item .work-info .work-short-description {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-family: "Avenir", sans-serif;
}

.posts-container .work-item .work-info .work-category {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-family: "Avenir", sans-serif;
}

.posts-container .work-item .work-info .work-client {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-family: "Avenir", sans-serif;
}

.posts-container .work-item .work-info hr {
  width: 100%;
  margin: 20px 0;
}

.posts-container .work-item:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.posts-container .work-item:hover .work-info {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.empty {
  padding: 30px 0;
  text-align: center;
}

.empty span {
  color: #1c7396;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-family: "Avenir", sans-serif;
}

.loading {
  min-height: 49vw;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: "center";
  background-size: 30px;
  background-image: url("../../images/loading.gif");
}

@media (min-width: 481px) {
  .ready-to-start {
    padding-top: 15vw;
    padding-bottom: 5vw;
  }
}

@media (min-width: 768px) {
  .form-header {
    padding: 40px 16px;
  }
}

@media (min-width: 992px) {
  #section-2-carousels .partners-list > .vc_column-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #section-2-carousels .partners-list > .vc_column-inner .wpb_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .contact-form .wpcf7 form .span_6 {
    width: 48%;
  }

  .contact-form .wpcf7 form .span_12 {
    width: 100%;
  }

  .sar-popup-overlay.active {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #services-bottom-section .video-box .play-button {
    margin-top: -6vw;
  }

  .video-box {
    height: 40vw;
  }
}

@media (min-width: 1100px) {
  .sar-popup-form {
    width: 760px;
  }

  .form-footer .locations {
    width: 50%;
  }

  .form-footer .locations ul li {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: "Avenir", sans-serif;
    margin-bottom: 4px;
  }

  .form-footer .contact-us {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    width: 50%;
  }

  .form-footer .contact-us a[href*=tel] {
    margin-right: 8px;
  }
}

@media (min-width: 1101px) {
  #page-header-wrap .col.span_12 p {
    width: 55%;
  }

  #section-2-carousels .partners-testimonials .testimonial {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    font-family: "Avenir", sans-serif;
  }

  #section-2-carousels .partners-testimonials .author {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    font-family: "Avenir", sans-serif;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column .wpb_wrapper .iwt-text {
    color: #1c7396;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-family: "Avenir", sans-serif;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column h3 {
    color: #1c7396;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    font-family: "Avenir", sans-serif;
  }

  .ready-to-start h2 {
    font-size: 54px;
    line-height: 74px;
  }
}

@media (min-width: 1441px) {
  .ready-to-start {
    padding-top: 8vw;
    padding-bottom: 3vw;
  }
}

@media (min-width: 2001px) {
  .video-box {
    height: 27vw;
  }
}

@media (min-width: 2500px) {
  .sar-popup-form {
    width: 1024px;
  }

  .form-header {
    padding: 60px 16px;
  }

  .form-footer {
    padding: 45px 100px;
  }

  .form-footer .locations {
    width: 60%;
  }

  .form-footer .locations ul li {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: "Avenir", sans-serif;
    margin-bottom: 8px;
  }

  .form-footer .contact-us {
    width: 40%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form-footer .contact-us a[href*=tel] {
    margin-right: 18px;
  }

  .video-box {
    height: 30vw;
  }
}

@media (max-width: 1329px) {
  .posts-filter .main-filter li .toggle-list {
    margin-left: 0;
  }
}

@media (max-width: 1240px) {
  .iwithtext .iwt-text {
    font-size: 19px;
    line-height: 24px;
  }
}

@media (max-width: 1100px) {
  #page-header-wrap .col.span_12 h1 {
    font-size: 43px;
    line-height: 59px;
  }

  #page-header-wrap .col.span_12 p {
    font-size: 19px;
    line-height: 26px;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column .wpb_wrapper .iwt-text {
    color: #1c7396;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    font-family: "Avenir", sans-serif;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column h3 {
    color: #1c7396;
    font-weight: 600;
    font-size: 39px;
    line-height: 53px;
    font-family: "Avenir", sans-serif;
  }

  .video-box .play-button a {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1099px) {
  .form-header h1 {
    font-size: 24px;
    line-height: 33px;
  }

  .form-footer h3 {
    text-align: center;
  }

  .form-footer .textwidget {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-footer .locations {
    width: 100%;
    margin-bottom: 24px;
  }

  .form-footer .locations ul li {
    margin-right: 0;
  }

  .form-footer .contact-us {
    width: 100%;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form-footer .contact-us a {
    width: calc(50% - 12px);
  }
}

@media (max-width: 999px) {
  .contact-form .wpcf7 form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form .wpcf7 form .span_6 {
    width: 100%;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6 {
    width: 100%;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column {
    margin-left: 0;
    border-radius: 0;
    z-index: 0;
    padding: 5vw 5vw 17vw;
  }

  #services-bottom-section .video-box {
    border-radius: 0;
  }
}

@media (max-width: 991px) {
  .owl-carousel .carousel-item .img-block {
    height: 100px;
  }
}

@media (max-width: 767px) {
  .form-header {
    padding: 40px 16px 30px 16px;
  }

  .form-header .btn-close {
    top: 10px;
    right: 10px;
  }

  .form-footer .locations ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .form-footer .locations ul li {
    margin-right: 8px;
  }

  .form-footer .contact-us a {
    margin: 8px auto 0;
    min-width: 165px;
  }

  .video-box .play-button p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .video-box .play-button h3 {
    font-size: 29px;
  }

  .video-box {
    height: 80vw;
  }

  .video-box .play-button {
    padding: 20px 10px;
  }

  .ready-to-start {
    padding-top: 20vw;
    padding-bottom: 10vw;
  }

  .ready-to-start h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .ready-to-start .vc_btn3-container button {
    font-size: 14px;
  }

  .posts-container .col.span_3 {
    width: calc(100% - 20px);
  }

  .posts-container .work-item {
    height: auto !important;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 380px) {
  #services-bottom-section .video-box .play-button p {
    font-size: 30px;
  }
}

@media (max-width: 321px) {
  .sar-popup-form {
    width: 288px;
  }

  .form-header p {
    width: 60%;
    margin: 0 auto;
  }

  .form-footer {
    padding: 40px 4%;
  }

  .form-footer .locations ul li {
    margin-right: 6px;
    margin-bottom: 8px;
  }

  .form-footer .contact-us a {
    width: 100%;
  }

  .popup_youtube .content {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .video-box .play-button {
    max-width: 300px;
  }
}

@media (min-width: 1301px), (max-width: 999px) {
  #section-2-carousels .partners-list .owl-carousel .kaiserpermanente .img-block {
    background-size: auto;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  .sar-popup-form {
    width: 640px;
  }
}

@media (max-width: 767px) and (min-width: 322px) {
  .sar-popup-form {
    width: 90%;
  }
}

@media (min-width: 1100px) and (max-width: 1440px) {
  .form-header h1 {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (min-width: 322px) and (max-width: 1440px) {
  .form-header p {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 1099px) and (min-width: 768px) {
  .form-footer .locations ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .video-box .play-button h3 {
    font-size: 38px;
  }

  .ready-to-start h2 {
    font-size: 43px;
    line-height: 52px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-box .play-button h3 {
    font-size: 38px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .video-box .play-button h3 {
    font-size: 34px;
  }
}

@media (min-width: 481px) and (max-width: 999px) {
  .video-box {
    height: 65vw;
  }
}

@media (min-width: 1441px) and (max-width: 1600px) {
  .video-box {
    height: 35vw;
  }
}

@media (min-width: 1601px) and (max-width: 2000px) {
  .video-box {
    height: 33vw;
  }
}

@media (min-width: 481px) and (max-width: 1100px) {
  .posts-container .col.span_3 {
    width: calc(100% / 2 - 20px);
  }
}