@font-face {
  font-family: FontAwesome;
  src: url("../../fonts/fa-solid-900.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: FontAwesome;
  src: url("../../fonts/fontawesome.woff2") format("woff2"), url("../../fonts/fontawesome.woff") format("woff"), url("../../fonts/fontawesome.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  font-weight: 400;
  font-display: swap;
  src: local("Avenir-Book"), url("../../fonts/Avenir/Avenir-Book.woff2"), url("../../fonts/Avenir/Avenir-Book.woff"), url("../../fonts/Avenir/Avenir-Book.ttf");
}

@font-face {
  font-family: Avenir;
  font-weight: 600;
  font-display: swap;
  src: local("Avenir-Heavy"), url("../../fonts/Avenir/Avenir-Heavy.woff2"), url("../../fonts/Avenir/Avenir-Heavy.woff"), url("../../fonts/Avenir/Avenir-Heavy.ttf");
}

.sar-btn {
  cursor: pointer;
  border: 1px solid #f15924;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #f15924;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn:hover {
  color: #fff;
  border-color: #f15924;
  background-color: #f15924;
}

.sar-btn:active,
.sar-btn.active {
  color: #fff;
  border-color: #f15924;
  background-color: #f15924;
}

.sar-btn[disabled],
.sar-btn:disabled,
.sar-btn.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn[disabled]:hover,
.sar-btn:disabled:hover,
.sar-btn.disabled:hover {
  color: #f15924;
  background-color: #fff;
}

.sar-btn-filled {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #f15924;
  border-radius: 50px;
  background-color: #f15924;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn-filled:hover {
  border-color: #d4410e;
  background-color: #d4410e;
}

.sar-btn-filled:active,
.sar-btn-filled.active {
  border-color: #d4410e;
  background-color: #d4410e;
}

.sar-btn-filled[disabled],
.sar-btn-filled:disabled,
.sar-btn-filled.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-filled[disabled]:hover,
.sar-btn-filled:disabled:hover,
.sar-btn-filled.disabled:hover {
  background-color: #f15924;
}

.sar-btn-link {
  cursor: pointer;
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  color: #0d5c7d;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: normal;
  padding: 8px 20px;
  text-transform: capitalize;
}

.sar-btn-link[disabled],
.sar-btn-link:disabled,
.sar-btn-link.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-link.active,
.sar-btn-link:hover {
  background-color: #F4F5F5;
  font-weight: bold;
  color: #0d5c7d;
}

.sar-btn-grey {
  cursor: pointer;
  border: 1px solid #c1c5c3;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #1a3340;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn-grey:hover {
  color: #fff;
  border-color: #f15924;
  background-color: #f15924;
}

.sar-btn-grey:active,
.sar-btn-grey.active {
  color: #fff;
  border-color: #f15924;
  background-color: #f15924;
}

.sar-btn-grey[disabled],
.sar-btn-grey:disabled,
.sar-btn-grey.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-grey[disabled]:hover,
.sar-btn-grey:disabled:hover,
.sar-btn-grey.disabled:hover {
  color: #1a3340;
  background-color: #fff;
}

.sar-btn-matisse {
  cursor: pointer;
  border: 1px solid #1c7396;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #1c7396;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 900;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn-matisse:hover {
  color: #fff;
  border-color: #1c7396;
  background-color: #1c7396;
}

.sar-btn-matisse:active,
.sar-btn-matisse.active {
  color: #fff;
  border-color: #1c7396;
  background-color: #1c7396;
}

.sar-btn-matisse[disabled],
.sar-btn-matisse:disabled,
.sar-btn-matisse.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-matisse[disabled]:hover,
.sar-btn-matisse:disabled:hover,
.sar-btn-matisse.disabled:hover {
  color: #1c7396;
  background-color: #fff;
}

.sar-btn-matisse-filled {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #1c7396;
  border-radius: 50px;
  background-color: #1c7396;
  text-align: center;
  text-transform: none;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-family: "Avenir", sans-serif;
  font-weight: 900;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sar-btn-matisse-filled:hover {
  border-color: #14526b;
  background-color: #14526b;
}

.sar-btn-matisse-filled:active,
.sar-btn-matisse-filled.active {
  border-color: #14526b;
  background-color: #14526b;
}

.sar-btn-matisse-filled[disabled],
.sar-btn-matisse-filled:disabled,
.sar-btn-matisse-filled.disabled {
  opacity: 0.5;
  cursor: default;
}

.sar-btn-matisse-filled[disabled]:hover,
.sar-btn-matisse-filled:disabled:hover,
.sar-btn-matisse-filled.disabled:hover {
  background-color: #1c7396;
}

.contact-form {
  background-color: #fff;
  padding: 6%;
}

.contact-form .wpcf7 {
  background-color: #fff;
}

.contact-form .wpcf7 .screen-reader-response,
.contact-form .wpcf7 .wpcf7-response-output,
.contact-form .wpcf7 .wpcf7-not-valid-tip {
  display: none !important;
}

.contact-form .wpcf7 .wpcf7-form-control-wrap.message {
  line-height: 0;
}

.contact-form .wpcf7 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-form .wpcf7 label {
  color: #1a3340;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  border-width: 0;
  margin-bottom: 16px;
}

.contact-form .wpcf7 textarea,
.contact-form .wpcf7 input {
  width: 100%;
  background-color: #F4F5F5;
  border: none;
  border-bottom: 2px solid #C4CAC7;
  margin: 16px 0;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  font-family: "Avenir", sans-serif;
  padding: 0 4px;
}

.contact-form .wpcf7 textarea::-webkit-input-placeholder,
.contact-form .wpcf7 input::-webkit-input-placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea::-moz-placeholder,
.contact-form .wpcf7 input::-moz-placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea:-ms-input-placeholder,
.contact-form .wpcf7 input:-ms-input-placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea::-ms-input-placeholder,
.contact-form .wpcf7 input::-ms-input-placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea::placeholder,
.contact-form .wpcf7 input::placeholder {
  /**
                According to design.
                The placeholder MUST BE PRESENTED otherwise the Saritasa CRM won't work as expected.
                Therefore, we use a transparent color
                 */
  color: transparent;
}

.contact-form .wpcf7 textarea:focus,
.contact-form .wpcf7 input:focus {
  outline: none;
  border-bottom-color: #000;
}

.contact-form .wpcf7 input {
  height: 50px;
  width: 100%;
}

.contact-form .wpcf7 input.wpcf7-not-valid {
  border: 2px solid red;
}

.contact-form .wpcf7 input.wpcf7-not-valid::-webkit-input-placeholder {
  color: darkGray;
}

.contact-form .wpcf7 input.wpcf7-not-valid::-moz-placeholder {
  color: darkGray;
}

.contact-form .wpcf7 input.wpcf7-not-valid:-ms-input-placeholder {
  color: darkGray;
}

.contact-form .wpcf7 input.wpcf7-not-valid::-ms-input-placeholder {
  color: darkGray;
}

.contact-form .wpcf7 input.wpcf7-not-valid::placeholder {
  color: darkGray;
}

.contact-form .wpcf7 button {
  width: 100%;
  background-color: #f15924;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-family: "Avenir", sans-serif;
  border: none;
  height: 70px;
  border-radius: 35px;
  margin-top: 16px;
}

.sar-popup-overlay {
  position: fixed;
  background-color: rgba(79, 79, 79, 0.8);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sar-popup-overlay.active {
  overflow-y: scroll;
  visibility: visible;
  pointer-events: all;
  top: 0;
  z-index: 999;
}

.sar-popup-form {
  margin-top: 51px;
}

.form-header {
  background-image: url("../../images/popup-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.form-header .btn-close {
  position: absolute;
  font-size: 30px;
  color: #fff;
  top: 20px;
  right: 20px;
}

.form-header h1 {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  font-family: "Avenir", sans-serif;
  text-align: center;
}

.form-header p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Avenir", sans-serif;
  padding-bottom: 0;
  text-align: center;
}

.form-footer {
  padding: 4% 8%;
  background-color: #2E2E2E;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-footer h3 {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
}

.form-footer .textwidget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-footer .locations ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 0;
  margin-left: 0;
}

.form-footer .locations ul li {
  color: #fff;
  letter-spacing: 0;
  margin-right: 24px;
  list-style: disc inside;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Avenir", sans-serif;
}

.form-footer .locations ul li:last-child {
  margin-right: 0;
}

.form-footer .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.form-footer .contact-us a {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Avenir", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px !important;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 15px;
  margin-top: 4px;
  margin-bottom: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  min-height: 40px;
}

.iwithtext {
  display: grid;
  grid-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.iwithtext .iwt-icon {
  grid-area: icon;
}

.iwithtext .iwt-text {
  grid-area: text;
  text-decoration: none;
  color: #1a3340;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-family: "Avenir", sans-serif;
}

.iwithtext .iwt-text a {
  color: inherit;
  position: absolute;
  width: 100%;
  inset: 0;
  padding-left: calc(2% + 60px);
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.iwithtext .iwt-text a:hover {
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.iwithtext.icon-pos-top {
  grid-template-rows: fit-content(100%) auto;
  grid-template-areas: 'icon' 'text';
  justify-items: center;
}

.iwithtext.icon-pos-top h3,
.iwithtext.icon-pos-top p {
  text-align: center;
}

.iwithtext.icon-pos-left {
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-areas: 'icon text';
}

.iwithtext.icon-pos-bottom {
  grid-template-rows: auto fit-content(100%);
  grid-template-areas: 'text' 'icon';
  justify-items: center;
}

.iwithtext.icon-pos-bottom h3,
.iwithtext.icon-pos-bottom p {
  text-align: center;
}

.iwithtext.icon-pos-right {
  grid-template-columns: repeat(2, fit-content(100%));
  grid-template-areas: 'text icon';
}

#services-bottom-section > .col.span_12 {
  width: 100%;
}

#services-bottom-section .video-box-and-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6 {
  margin-left: 0;
  width: 45%;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6.video-box-column .nectar-video-box .inner-wrap .img-bg {
  background-position: 100%;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 4vw;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 3vw;
  border-radius: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column > .vc_column-inner {
  width: 100%;
}

#services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column .wpb_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2vw;
}

#services-bottom-section .video-box {
  border-radius: 15px;
}

#services-bottom-section .video-box .play-button p {
  font-size: 36px;
}

#services-bottom-section .ready-to-start {
  background-image: url("../../images/about-saritasa.webp");
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  padding-top: 15vw;
  padding-bottom: 5vw;
}

/**
The current file is imported to the following files:
1) nectar-video-box
2) nectar-video-box__technologies
 */

.popup_youtube {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: rgba(79, 79, 79, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup_youtube .content {
  width: 90%;
  max-width: 1200px;
  position: relative;
}

.popup_youtube .content .iframe-wrapper {
  height: 0;
  padding-top: 56.25%;
}

.popup_youtube .content .iframe-wrapper iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-box {
  background-image: url("../../images/videobox-bg-full-mirrored.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-box .play-button {
  display: grid;
  grid-template-areas: 'a h3' 'a p';
  grid-column-gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 150px;
  padding: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 80%;
}

.video-box .play-button a {
  grid-area: a;
  display: block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../images/play.svg");
}

.video-box .play-button a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.video-box .play-button h3 {
  grid-area: h3;
  align-self: flex-end;
  text-align: left;
  color: #f15924;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  font-family: "Avenir", sans-serif;
}

.video-box .play-button p {
  grid-area: p;
  align-self: flex-start;
}

.video-box .play-button p {
  color: #f15924;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  font-family: "Avenir", sans-serif;
}

.ready-to-start {
  margin-top: -12vw;
}

.ready-to-start > .col.span_12 {
  width: 90%;
}

.ready-to-start .row-bg {
  background-image: url("../../images/about-saritasa.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.ready-to-start h2 {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  font-family: "Avenir", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.ready-to-start .vc_btn3-container {
  text-align: center;
}

.ready-to-start .vc_btn3-container button {
  color: #0d5c7d;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-family: "Avenir", sans-serif;
  border-radius: 100px;
  background-color: #fff;
  padding: 10px 60px !important;
  cursor: pointer;
  border: 1px solid #fff;
}

.iwithtext {
  margin-bottom: 20px;
}

.iwithtext h2 {
  margin-bottom: 0;
}

.section-title {
  background: -o-linear-gradient(126.3deg, #1C7396 0%, #5C9EBA 100%);
  background: linear-gradient(323.7deg, #1C7396 0%, #5C9EBA 100%);
  border-bottom: 3px solid #f15924;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3em;
}

.section-title > .col.span_12 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-title h1 {
  color: #fff;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  font-family: "Avenir", sans-serif;
  text-align: center;
}

.challenge-solution {
  border-bottom: 1px solid #f15924;
  padding: 2vw 0;
  margin-bottom: 3em;
}

.challenge-solution .their-challenge h2,
.challenge-solution .our-solution h2 {
  color: #1a3340;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  font-family: "Avenir", sans-serif;
}

.challenge-solution .their-challenge p,
.challenge-solution .our-solution p {
  color: #1a3340;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  margin-bottom: 1.5em;
}

.portfolio-item-features {
  padding-bottom: 60px;
}

.wpb_video_wrapper {
  text-align: center;
}

.wpb_video_wrapper iframe {
  width: 100%;
}

[class*='portfolio-item'] p {
  color: #1a3340;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Avenir", sans-serif;
  margin-bottom: 1.5em;
}

.portfolio-item-did h2 {
  width: 100%;
  text-align: center;
}

.portfolio-item-did h3 {
  color: #1a3340;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  font-family: "Avenir", sans-serif;
  text-align: left;
  margin-bottom: 1em;
}

.portfolio-item-did .wpb_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.full-width-section > .col.span_12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.full-width-section > .col.span_12 > .portfolio-item-media {
  margin-left: 0;
}

.full-width-section img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}

.portfolio-item-links {
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.portfolio-item-links-website,
.portfolio-item-links-appstore,
.portfolio-item-links-googleplay {
  margin-left: 0;
}

.portfolio-item-links-website .wpb_wrapper,
.portfolio-item-links-appstore .wpb_wrapper,
.portfolio-item-links-googleplay .wpb_wrapper {
  text-align: center;
}

.portfolio-item-links-website .wpb_wrapper h2,
.portfolio-item-links-appstore .wpb_wrapper h2,
.portfolio-item-links-googleplay .wpb_wrapper h2 {
  margin-bottom: 20px;
}

.portfolio-item-links-website .wpb_wrapper .sar-btn,
.portfolio-item-links-appstore .wpb_wrapper .sar-btn,
.portfolio-item-links-googleplay .wpb_wrapper .sar-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: 100px;
  color: #f15924;
  font-weight: 400;
  font-size: 18px;
  font-family: "Avenir", sans-serif;
  border: 1px solid #f15924;
  background-color: #fff;
  padding: 10px 30px;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio-item-links-website .wpb_wrapper .sar-btn span,
.portfolio-item-links-appstore .wpb_wrapper .sar-btn span,
.portfolio-item-links-googleplay .wpb_wrapper .sar-btn span {
  margin-right: 10px;
}

.portfolio-item-links-website .wpb_wrapper .sar-btn:hover,
.portfolio-item-links-appstore .wpb_wrapper .sar-btn:hover,
.portfolio-item-links-googleplay .wpb_wrapper .sar-btn:hover {
  color: #fff;
  background-color: #f15924;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  cursor: pointer;
}

.fa-share-square-o:before {
  content: '\f045';
}

.fa-circle:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  content: '\f111';
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.fa-apple:before {
  content: '\f179';
}

.fa-android:before {
  content: '\f17b';
}

.sar-icon-list {
  position: relative;
  overflow: hidden;
}

.sar-icon-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.sar-icon-list-item .list-icon-holder {
  margin-right: 20px;
}

.sar-icon-list-item .content h4 {
  color: #1a3340;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  font-family: "Avenir", sans-serif;
  margin-bottom: 10px;
}

.sar-icon-list-item .content p {
  margin-bottom: 0;
}

.sar-icon-list-item:last-child {
  margin-bottom: 0;
}

.sar-icon-list:after {
  display: block;
  position: absolute;
  content: '';
  z-index: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  top: 15px;
  left: 16px;
}

.img-with-animation-wrap {
  text-align: center;
}

.img-with-animation-wrap img {
  max-height: 800px;
  max-width: 100%;
  margin: auto;
}

.bottom_controls {
  background-color: rgba(231, 231, 231, 0.6);
  border-top: 2px solid rgba(13, 92, 125, 0.09);
  border-bottom: 2px solid rgba(13, 92, 125, 0.09);
  padding: 40px 0;
}

.bottom_controls > .col.span_12 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.bottom_controls .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom_controls .controls #prev-link a,
.bottom_controls .controls #next-link a {
  color: #1c7396;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Avenir", sans-serif;
}

.bottom_controls .controls #prev-link a span,
.bottom_controls .controls #next-link a span {
  display: inline-block;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.bottom_controls .controls #prev-link a i:after {
  left: 3px;
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.bottom_controls .controls #prev-link a:hover span {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.bottom_controls .controls #prev-link a:hover i:after {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  left: 1px;
}

.bottom_controls .controls #next-link a i:after {
  right: 3px;
  -webkit-transform: translateX(-24px);
  -ms-transform: translateX(-24px);
  transform: translateX(-24px);
}

.bottom_controls .controls #next-link a:hover span {
  -webkit-transform: translateX(-12px);
  -ms-transform: translateX(-12px);
  transform: translateX(-12px);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.bottom_controls .controls #next-link a:hover i:after {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  right: 1px;
}

.bottom_controls .icon-angle-left,
.bottom_controls .icon-angle-right {
  position: relative;
}

.bottom_controls .icon-angle-left:before,
.bottom_controls .icon-angle-right:before {
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
  color: #0D5C7D;
}

.bottom_controls .icon-angle-left:after,
.bottom_controls .icon-angle-right:after {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #0d5c7d;
  content: '';
  width: 24px;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  margin: 48% auto;
}

.bottom_controls .icon-angle-left:before {
  content: '\f104';
  padding-right: 15px;
}

.bottom_controls .icon-angle-right:before {
  content: '\f105';
  padding-left: 15px;
}

.bottom_controls #all-items a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom_controls #all-items a i {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  width: 0.3em;
  height: 0.3em;
  font-size: 20px;
  background-color: #0D5C7D !important;
  -webkit-box-shadow: -0.5em 0 #0d5c7d, -0.5em 0.5em #0d5c7d, 0.5em 0 #0d5c7d, 0.5em -0.5em #0d5c7d, 0 -0.5em #0d5c7d, -0.5em -0.5em #0d5c7d, 0 0.5em #0d5c7d, 0.5em 0.5em #0d5c7d !important;
  box-shadow: -0.5em 0 #0d5c7d, -0.5em 0.5em #0d5c7d, 0.5em 0 #0d5c7d, 0.5em -0.5em #0d5c7d, 0 -0.5em #0d5c7d, -0.5em -0.5em #0d5c7d, 0 0.5em #0d5c7d, 0.5em 0.5em #0d5c7d !important;
}

.bottom_controls #all-items a:hover i {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  width: 0.3em;
  height: 0.3em;
  font-size: 20px;
  background-color: #0D5C7D !important;
  -webkit-box-shadow: -0.6em 0 #0D5C7D, -0.6em 0.6em #0D5C7D, 0.6em 0 #0D5C7D, 0.6em -0.6em #0D5C7D, 0 -0.6em #0D5C7D, -0.6em -0.6em #0D5C7D, 0 0.6em #0D5C7D, 0.6em 0.6em #0D5C7D !important;
  box-shadow: -0.6em 0 #0D5C7D, -0.6em 0.6em #0D5C7D, 0.6em 0 #0D5C7D, 0.6em -0.6em #0D5C7D, 0 -0.6em #0D5C7D, -0.6em -0.6em #0D5C7D, 0 0.6em #0D5C7D, 0.6em 0.6em #0D5C7D !important;
}

.wpb_gallery_slidesflickity_style {
  overflow: hidden;
}

.wpb_gallery_slidesflickity_style img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 45%;
  height: 250px;
}

.wpb_gallery_slidesflickity_style .flickity-page-dots {
  margin-top: 20px;
  text-align: center;
}

.wpb_gallery_slidesflickity_style .flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.wpb_gallery_slidesflickity_style .flickity-page-dots .dot.is-selected {
  opacity: 1;
}

@media (min-width: 481px) {
  .ready-to-start {
    padding-top: 15vw;
    padding-bottom: 5vw;
  }
}

@media (min-width: 768px) {
  .form-header {
    padding: 40px 16px;
  }
}

@media (min-width: 1000px) {
  .contact-form .wpcf7 form .span_6 {
    width: 48%;
  }

  .contact-form .wpcf7 form .span_12 {
    width: 100%;
  }

  .sar-popup-overlay.active {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #services-bottom-section .video-box .play-button {
    margin-top: -6vw;
  }

  .video-box {
    height: 40vw;
  }

  .section-title {
    min-height: 200px;
  }

  .wpb_video_wrapper iframe {
    min-height: 25vw;
  }
}

@media (min-width: 1100px) {
  .sar-popup-form {
    width: 760px;
  }

  .form-footer .locations {
    width: 50%;
  }

  .form-footer .locations ul li {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: "Avenir", sans-serif;
    margin-bottom: 4px;
  }

  .form-footer .contact-us {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    width: 50%;
  }

  .form-footer .contact-us a[href*=tel] {
    margin-right: 8px;
  }
}

@media (min-width: 1101px) {
  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column .wpb_wrapper .iwt-text {
    color: #1c7396;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-family: "Avenir", sans-serif;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column h3 {
    color: #1c7396;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    font-family: "Avenir", sans-serif;
  }

  .ready-to-start h2 {
    font-size: 54px;
    line-height: 74px;
  }
}

@media (min-width: 1441px) {
  .ready-to-start {
    padding-top: 8vw;
    padding-bottom: 3vw;
  }
}

@media (min-width: 2001px) {
  .video-box {
    height: 27vw;
  }
}

@media (min-width: 2500px) {
  .sar-popup-form {
    width: 1024px;
  }

  .form-header {
    padding: 60px 16px;
  }

  .form-footer {
    padding: 45px 100px;
  }

  .form-footer .locations {
    width: 60%;
  }

  .form-footer .locations ul li {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: "Avenir", sans-serif;
    margin-bottom: 8px;
  }

  .form-footer .contact-us {
    width: 40%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form-footer .contact-us a[href*=tel] {
    margin-right: 18px;
  }

  .video-box {
    height: 30vw;
  }
}

@media (max-width: 1240px) {
  .iwithtext .iwt-text {
    font-size: 19px;
    line-height: 24px;
  }
}

@media (max-width: 1100px) {
  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column .wpb_wrapper .iwt-text {
    color: #1c7396;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    font-family: "Avenir", sans-serif;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column h3 {
    color: #1c7396;
    font-weight: 600;
    font-size: 39px;
    line-height: 53px;
    font-family: "Avenir", sans-serif;
  }

  .video-box .play-button a {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 1099px) {
  .form-header h1 {
    font-size: 24px;
    line-height: 33px;
  }

  .form-footer h3 {
    text-align: center;
  }

  .form-footer .textwidget {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-footer .locations {
    width: 100%;
    margin-bottom: 24px;
  }

  .form-footer .locations ul li {
    margin-right: 0;
  }

  .form-footer .contact-us {
    width: 100%;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form-footer .contact-us a {
    width: calc(50% - 12px);
  }
}

@media (max-width: 999px) {
  .contact-form .wpcf7 form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form .wpcf7 form .span_6 {
    width: 100%;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6 {
    width: 100%;
  }

  #services-bottom-section .video-box-and-counter > .vc_col-sm-6.counter-column {
    margin-left: 0;
    border-radius: 0;
    z-index: 0;
    padding: 5vw 5vw 17vw;
  }

  #services-bottom-section .video-box {
    border-radius: 0;
  }

  .section-title {
    padding: 5vw 0;
  }

  .portfolio-item-links-website,
  .portfolio-item-links-appstore,
  .portfolio-item-links-googleplay {
    margin-bottom: 2vw;
  }

  .portfolio-item-links-website .wpb_wrapper h2,
  .portfolio-item-links-appstore .wpb_wrapper h2,
  .portfolio-item-links-googleplay .wpb_wrapper h2 {
    margin-bottom: 10px;
  }

  .img-with-animation-wrap img {
    max-height: 720px;
  }

  .bottom_controls .controls #prev-link a span,
  .bottom_controls .controls #next-link a span {
    display: none;
  }

  .bottom_controls .controls #prev-link a i:after {
    display: none;
  }

  .bottom_controls .controls #next-link a i:after {
    display: none;
  }

  .bottom_controls .icon-angle-left:before,
  .bottom_controls .icon-angle-right:before {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .form-header {
    padding: 40px 16px 30px 16px;
  }

  .form-header .btn-close {
    top: 10px;
    right: 10px;
  }

  .form-footer .locations ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .form-footer .locations ul li {
    margin-right: 8px;
  }

  .form-footer .contact-us a {
    margin: 8px auto 0;
    min-width: 165px;
  }

  .video-box .play-button p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .video-box .play-button h3 {
    font-size: 29px;
  }

  .video-box {
    height: 80vw;
  }

  .video-box .play-button {
    padding: 20px 10px;
  }

  .ready-to-start {
    padding-top: 20vw;
    padding-bottom: 10vw;
  }

  .ready-to-start h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .ready-to-start .vc_btn3-container button {
    font-size: 14px;
  }

  .section-title h1 {
    font-size: 43px;
    line-height: 52px;
  }
}

@media (max-width: 380px) {
  #services-bottom-section .video-box .play-button p {
    font-size: 30px;
  }
}

@media (max-width: 321px) {
  .sar-popup-form {
    width: 288px;
  }

  .form-header p {
    width: 60%;
    margin: 0 auto;
  }

  .form-footer {
    padding: 40px 4%;
  }

  .form-footer .locations ul li {
    margin-right: 6px;
    margin-bottom: 8px;
  }

  .form-footer .contact-us a {
    width: 100%;
  }

  .popup_youtube .content {
    width: 300px;
  }

  .wpb_video_wrapper iframe {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .video-box .play-button {
    max-width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1099px) {
  .sar-popup-form {
    width: 640px;
  }
}

@media (max-width: 767px) and (min-width: 322px) {
  .sar-popup-form {
    width: 90%;
  }
}

@media (min-width: 1100px) and (max-width: 1440px) {
  .form-header h1 {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (min-width: 322px) and (max-width: 1440px) {
  .form-header p {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 1099px) and (min-width: 768px) {
  .form-footer .locations ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .video-box .play-button h3 {
    font-size: 38px;
  }

  .ready-to-start h2 {
    font-size: 43px;
    line-height: 52px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-box .play-button h3 {
    font-size: 38px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .video-box .play-button h3 {
    font-size: 34px;
  }
}

@media (min-width: 481px) and (max-width: 999px) {
  .video-box {
    height: 65vw;
  }
}

@media (min-width: 1441px) and (max-width: 1600px) {
  .video-box {
    height: 35vw;
  }
}

@media (min-width: 1601px) and (max-width: 2000px) {
  .video-box {
    height: 33vw;
  }
}