@import '../base/index';

@import '../components-theme/custom_owl_carousel';
@import '../components-theme/text-with-icon';
@import '../components-theme/section-counter-single-line';

@import '../components-theme/nectar-video-box';
@import '../components-theme/ready-to-start';
@import '../components-theme/popup_contact-form';

body.about-us {

    @include site-bg();

    .container.main-content {

        &:before {
            max-height: 50%;
        }
    }

    #section-top {

        padding-top: 7vw;
        padding-bottom: 4vw;

        h1 {
            @include font-avenir-white(600, 54px, 1);
            margin-bottom: 20px;
            @media(max-width: 480px) {
                text-align: center !important;
            }
        }

        > .col.span_12 {
            @media(max-width: 690px) {
                width: 90%;
            }

            > .column_container {
                > .vc_column-inner > .wpb_wrapper {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .row-bg {
            @media(min-width: 1440px) {
                height: 40vw;
            }

            &-overlay {
                background: linear-gradient(90deg, #f15927 0%, #f28057 100%);
                opacity: 0.5;
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;

                @media(min-width: 1440px) {
                    height: 40vw;
                }
            }
        }

        .card-row {
            &:not(.second-card) {
                @media(max-width: 999px) {
                    margin-bottom: 20px;
                }
            }

            @media(min-width: 1000px) {
                width: 60%;
            }

            display: flex;
            padding: 6%;
            border-radius: 15px;
            position: relative;

            @media(max-width: 1300px) {
                flex-direction: column;
            }

            @media(min-width: 1001px) {
                margin-bottom: -20px;
            }

            &.second-card {
                align-self: flex-end;
            }

            .bg {
                background-repeat: no-repeat;
                background-position: center left 5%;
                background-size: auto 85%;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                @media (max-width: 480px) {
                    background-position: center;
                }
            }

            .title-block {
                @media(max-width: 1300px) {
                    width: 100%;
                }
                @media (min-width: 1301px) {
                    width: 33.3333%;
                    margin-right: 10px;
                }

                h4 {
                    @include font-avenir-white(400, 48px, 1);
                    word-spacing: 100vw;
                    margin-bottom: 10px;

                    @media(max-width: 480px) {
                        line-height: 1.2;
                        margin-bottom: 10px;
                    }

                    @media(max-width: 1300px) {
                        width: 100%;
                    }
                }
            }

            .description-block {
                width: 66.6667%;
                @include font-avenir-white(400, 18px, 25px);

                p {
                    &:not(:first-child) {
                        margin-top: 20px;
                    }
                }

                @media(max-width: 1300px) {
                    width: 100%;
                }
            }
        }

    }

    .tech-partners {
        padding: 50px 0 36px;
        text-align: center;
        background-color: #fff;

        p {
            @include font-avenir-matisse(400, 24px, 33px);
            @media (max-width: 480px) {
                font-size: 19px;
                line-height: 23px;
            }
        }
    }

    .tech-partners-slider {
        padding: 3vw 0 10vw;

        .owl-carousel {
            &.off {
                .carousel-item {
                    margin: 0 auto 10px;
                    padding: 2vw 0;
                }
            }
        }

        .owl-dots {
            display: none;
        }
    }

    .awards {
        padding: 2%;
        @include shadow;
        width: 90%;
        max-width: 1440px;
        margin: -7vw auto 50px;
        border-radius: 10px;

        .row-bg {
            border-radius: 10px;
        }

        .owl-carousel {

            @media(min-width: 992px) {
                align-items: normal;
            }

            .img-block {
                @media (max-width: 320px) {
                    max-height: none;
                }

                @media (max-width: 991px) {
                    height: 40vw;
                    max-height: 200px;
                }

                @media(min-width: 992px) {
                    height: 200px;
                }
            }

            &.off {
                .carousel-item {
                    margin: 0 auto 10px;
                }
            }


        }

        > .span_12 {
            width: 100% !important;
            max-width: none !important;
            text-align: center;

            .iwithtext {
                margin-bottom: 20px;
                justify-content: center;

                .sar-icon {
                    background-size: 80px;

                    &-default {
                        width: 80px;
                        height: 90px;


                    }
                }

                h2, h3 {
                    @include font-avenir-big-stone(600, 36px, 1);

                    @media (max-width: 480px) {
                        text-align: left;
                        font-size: 29px;
                        line-height: 34px;
                    }
                }

                &.icon-pos-left {
                    @media(max-width: 640px) {
                        grid-template-columns: repeat(2, min-content);
                    }
                }
            }

            p {
                margin-bottom: 25px;
                @include font-avenir-big-stone(400, 24px, 33px);

                @media (max-width: 480px) {
                    font-size: 19px;
                    line-height: 23px;
                }

                @media (max-width: 1100px) {

                }

            }
        }
    }

    .our-happy-clients {
        > .col.span_12 {
            max-width: none;

            .owl-carousel {
                .owl-stage {
                    display: flex;

                    &-outer {
                        overflow: unset;
                    }

                    .owl-item {
                        blockquote {
                            position: relative;
                            height: 100%;
                            margin: 0 12px;
                            padding: 5vw;
                            background-color: $color-matisse;
                            border-radius: 15px;

                            @media(max-width: 320px) {
                                margin: 0;
                            }

                            @media(max-width: 640px) {
                                margin: 0 5px;
                            }

                            .person,
                            .quote {
                                @include font-avenir-white(600, 18px, 25px);
                                @media (max-width: 1100px) {
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }

                            .quote {
                                margin-top: 30px;
                                margin-bottom: 30px;
                            }

                            .subtitle {
                                @include font-avenir-white(600, 12px, 16px);
                                @media (max-width: 1100px) {
                                    font-size: 10px;
                                    line-height: 13px;
                                }
                            }
                        }

                        &:not(.center) {
                            opacity: 0.5;
                        }

                        .star-rating {
                            position: relative;

                            &-wrap {
                                margin-top: 20px;
                                position: absolute;
                                bottom: 2vw;
                            }

                            &:before {
                                font-family: $fa;
                                content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005';
                                color: #ddd;
                            }

                            .filled {
                                position: absolute;
                                display: block;
                                left: 0;
                                top: 0;
                                overflow: hidden;

                                &:before {
                                    color: #fff;
                                    font-family: $fa;
                                    content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005';
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .our-locations {

        margin-top: 4vw;

        .col.span_12 {
            width: unset;
            max-width: unset;
        }

        .vc_row-fluid {
            justify-content: center;
            flex-flow: row wrap;
        }

        .location-item-container {
            margin: 0 1vw 1vw;

            @media(max-width: 320px) {
                width: 300px;
                height: 300px;
            }

            @media(max-width: 640px) {
                width: 80vw;
                height: 80vw;
            }

            @media(min-width: 641px) {
                width: 30vw;
                height: 30vw;
            }

            @media(min-width: 1201px) {
                width: 17vw;
                height: 17vw;
            }

            &:hover {
                .flip-box-inner {
                    transform: rotateY(180deg);

                    .flip-box-front {
                        z-index: 0;
                    }
                }
            }
        }

        .flip-box {
            width: 100%;
            perspective: 1000px;
            border-radius: 15px;

            &-inner {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform .8s;
                transform-style: preserve-3d;
            }

            &-front, &-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                background-size: cover;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                border-radius: 15px;
                flex-direction: column;

                @media(max-width: 320px) {
                    min-height: 300px;
                }

                @media(max-width: 640px) {
                    min-height: 80vw;
                }

                @media(min-width: 641px) {
                    min-height: 30vw;
                }

                @media(min-width: 1201px) {
                    min-height: 17vw;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #214c5e;
                    opacity: .5;
                    border-radius: 15px;
                }

                .inner {
                    z-index: 1;
                    padding: 30px;
                }
            }

            &-front {
                background-color: rgb(33, 76, 94);
                @include font-avenir-white(600, 19px, 26px);
            }

            &-back {
                transform: rotateY(180deg);

                h4 {
                    @include font-avenir-white(600, 19px, 26px);
                }

                p {
                    @include font-avenir-white(400, 14px, 21px);
                }
            }
        }
    }

    #section-counter {
        z-index: 1;
        margin-top: 4vw;
        margin-bottom: -2vw;

        @media(max-width: 320px) {
            padding: 10% 5%;
        }

        h3, p {
            color: $color-matisse;
        }

        p {
            @media(max-width: 320px) {
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .about-us-section {
        > .span_12 {
            max-width: none;
            width: 100%;
        }

        .play-button {
            margin-top: -6vw;
        }

        .img-bg {
            background-position: top;
        }
    }
}