@import '../base/index';
@import '../components/buttons';
@import '../components-theme/popup_contact-form';

.container.main-content {
    > .row {
        position: relative;
    }
}

[id^=fws] {
    &.top-bg {
        @include background-image('cover', null, image_path('thank-you-bg-top.webp'));
    }

    &.contact-form-bottom {
        @include background-image('cover', null, image_path('thank-you-bg-bottom.webp'));
        padding-top: 20vw;

        @media (min-width: 1440px) {
            max-height: 400px;
        }
    }

    @media(min-width: 1801px) {
        min-height: 250px;
        max-height: 500px;
        padding-top: 30vw;
    }

    @media(min-width: 1440px) {
        height: 50vw;
    }

    @media(min-width: 1100px) {
        height: 30vw;
    }

    @media(min-width: 768px) {
        height: 25vw;
        min-height: 300px;
    }

    @media(max-width: 767px) {
        height: 20vw;
        min-height: 260px;
    }
}

.thank-you-block {
    position: absolute;
    z-index: 1;
    top: 0;
    background: #fff;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    height: fit-content;
    padding: 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    @media(min-width: 1801px) {
        bottom: 10vw;
        max-width: 1200px;
    }

    @media(min-width: 1440px) {
        bottom: 30vw;
        max-width: 1000px;
    }

    @media(min-width: 1100px) {
        bottom: 0;
        max-width: 880px;
    }

    @media(min-width: 768px) {
        max-width: 600px;
        bottom: 0;
    }

    @media(max-width: 767px) {
        max-width: 80%;
        bottom: 0;
    }

    .sar-icon-default {
        @media(min-width: 1441px) {
            width: 90px;
            height: 90px;
        }

        @media(max-width: 1440px) {
            width: 72px;
            height: 72px;
        }
    }

    h1 {
        @include font-avenir-big-stone(600, 64px, 87px);

        @media(min-width: 1801px) {
            font-size: 64px;
            line-height: 87px;
        }

        @media(min-width: 1440px) {
            font-size: 54px;
            line-height: 74px;
        }

        @media(min-width: 1100px) {
            font-size: 54px;
            line-height: 74px;
        }

        @media(min-width: 768px) {
            font-size: 36px;
            line-height: 49px;
        }

        @media(max-width: 767px) {
            font-size: 25px;
            line-height: 33px;
        }

        @media(max-width: 321px) {
            font-size: 18px;
            line-height: 25px;
        }
    }

    .before-divider {
        @include font-avenir-big-stone(400, 24px, 33px);

        @media(min-width: 1801px) {
            font-size: 24px;
            line-height: 33px;
        }

        @media(min-width: 1440px) {
            font-size: 18px;
            line-height: 25px;
        }

        @media(min-width: 1100px) {
            font-size: 18px;
            line-height: 25px;
        }

        @media(max-width: 1099px) {
            font-size: 12px;
            line-height: 16px;
        }
    }

    .divider-wrap {
        height: 1px;
        background-color: $color-theme;
        margin: 50px 0;

        @media(min-width: 768px) {
            margin: 30px 0;
        }

        @media(max-width: 767px) {
            margin: 25px 0;
        }
    }

    .after-divider {
        @include font-avenir-big-stone(600, 24px, 33px);

        @media(min-width: 1801px) {
            font-size: 24px;
            line-height: 33px;
        }

        @media(min-width: 1440px) {
            font-size: 18px;
            line-height: 25px;
        }

        @media(min-width: 1100px) {
            font-size: 18px;
            line-height: 25px;
        }

        @media(max-width: 1099px) {
            font-size: 12px;
            line-height: 16px;
        }

        @media(max-width: 321px) {
            font-size: 12px;
            line-height: 16px;
        }
    }

    .sar-btn-matisse {
        margin-top: 1vw;
        width: unset;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 1440px) {
            font-size: 12px;
            line-height: 16px;
        }

        @media(min-width: 1441px) {
            font-size: 24px;
            line-height: 33px;
        }

        .fa-phone {
            @media(min-width: 1441px) {
                font-size: 24px;
            }
        }

        @media(min-width: 1441px) {
            min-width: 250px;
        }

        @media(max-width: 1440px) {
            min-width: 180px;
        }
    }
}